<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <section class="container-fluid">
            <a class="navbar-brand" href="{{ "/" | relative_url }}">{{ site.title }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
                aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fas fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
                <div class="navbar-nav">
                    {% for link in site.data.links.header %}
                    <a class="nav-item nav-link {% if page.permalink == link.url %}active{% endif %}"
                        href="{{ link.url | relative_url }}">{{ link.title }}</a>
                    {% endfor %}
                </div>
            </div>
        </section>
    </nav>
</header>