<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <section class="container-fluid">
            <a class="navbar-brand" href="{{ "/" | relative_url }}">{{ site.title }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
                aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fas fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
                <div class="navbar-nav">
                    {% for link in site.data.links.header[page.lang] %}
                    <a class="nav-item nav-link {% if page.permalink == link.url %}active{% endif %}"
                        href="{{ link.url | relative_url }}">{{ link.title }}</a>
                    {% endfor %}
                    <!--<div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="languages" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Languages
                        </a>
                        <div class="dropdown-menu" aria-labelledby="languages">
                            <a class="dropdown-item" href="#">Italian</a>
                            <a class="dropdown-item" href="#">English</a>
                        </div>
                    </div>-->
                </div>
            </div>
        </section>
    </nav>
</header>