@charset "utf-8";

$font-family-sans-serif: 'Open Sans', sans-serif !default;
$headings-font-family: $font-family-sans-serif !default;
$headings-font-weight: 700 !default;

@import "bootstrap/bootstrap.scss";

$enable-shadows: true;

$theme-colors: (
  "custom-color": #900
);

.site-title {
  color: $white;
  hr {
    border-color: $yellow;
  }
  span {
    color: $yellow;
  }
  i {
    color: $yellow;
  }
}

.site-header {
  margin-top: $nav-link-height + $spacer;
}