<section class="container-fluid" role="row">
    <div class="row border-bottom thick border-dark">
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col-2 fa-responsive">
                        <i class="fa-8x text-dark {{ page.icon }}"></i>
                    </div>
                    <div class="col">
                        {{ content }}
                        <p class="text-right">
                            <a href="{{ page.link }}">
                                <small>Scopri di più...</small>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="triangle"></div>
        </div>
    </div>
</section>